<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
   
</div>
<h2>Here are some links to help you start a wonderful travel to a world of idols: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.zhihu.com/question/21181024">What is the idols?</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://baike.baidu.com/item/LoveLive">A famous idol project</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.bilibili.com/video/av6462513/">A famous live the final live</a></h2>
  </li>
</ul>

